{% extends 'base.html' %}

{% block header %}
<div class="alert alert-dark" role="alert">
    <h2>投稿詳細</h2>
</div>
{% endblock header %}

{% block content %}

{% if user.is_authenticated %}
<p><a href="{% url 'profile' object.person %}" >{{ object.person }}</a></p>
{% else %}
<p>{{ object.person }}</p>
{% endif %}
<p>
    <b>{{ object.title }}</b><span style="margin-left:10px ;">{{ object.created_date  }}</span>
    <a href="{% url 'good' object.pk %}" role="button" aria-pressed="true">いいねする</a>
</p>
<p>エリア：{{ object.area }}</p>
<p>{{ object.content }}</p>
<!-- <p>{{ object.user_id }}</p> -->

<!-- <a href="{{ 'https://travel.rakuten.co.jp/yado/'|add:object.area }}" target="_blank" rel="noopener noreferrer">付近のホテルを探す</a> -->

<p><a href="{% url 'home' %}"><b>ホームに戻る</b></a></p>

{% endblock content %}