{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="bg-light p-3 p-sm-4 my-3 rounded">
  <h1 class="display-4">Home</h1>
<a href="{% url 'board' %}">掲示版</a>
<a href="{% url 'profile' user.username %}">マイページへ移動</a>
<a href="{% url 'logout' %}">ログアウト</a>
</div>
<a class="btn btn-secondary mb-3" href="{% url 'create' %}" role="button">新規投稿</a>

{% for item in object %}
<div class="alert alert-success" role="alert">
<p><a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
<p>{{ item.content }}</p>
<p><a href="#" class="btn btn-primary disabled"  role="button" aria-pressed="true">いいね{{ item.good }}</a></p>
</div>
{% endfor %}
{% endblock content %}