{% extends 'base.html' %}
{% block content %}

<div class="alert alert-success" role="alert">
<p>{{ object.username }}</p>
<p>{{ object.email }}</p>
<p><a href="{% url 'followuser' object.username %}">フォロー数：{{ follower_count }}</p></a>
<p><a href="{% url 'followeduser' object.username %}">フォロワー数：{{ followerd_count }}</p></a>

{% if follow == True %}
    <p>フォロー中</p>
    <a class="btn btn-secondary mb-3" href="{% url 'unfollow' object.username %}" role="button">フォロー解除する</a>
    {% if followed == True %}
        <form action ='' method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <input style="margin-top:20px;" type="submit" value='チャットする'>
            </div>
        </form>   
    {% endif %}
{% else %}
    <a class="btn btn-secondary mb-3" href="{% url 'follow' object.username %}" role="button">フォローする</a>
{% endif %}

<p><a href="{% url 'home' %}">ホームへ戻る</a></p>
</div>


{% for item in object.post_set.all %}
<div class="alert alert-success" role="alert">
<p>{{ item.title }}</p>
<p>{{ item.content }}</p>
</div>
{% endfor %}

{% endblock content %}