{% extends 'base.html' %}


{% block content %}

<div class="content" style="border-bottom:1px solid #DDDDDD;">
{% for item in object reversed %}
<div class="list-group">

<a href="{% url 'chat' item.room_id|safe %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
    {% if item.user_from.username == user.username %}
        <div>
            <h6 class="mb-0">{{ item.user_to.username}}</h6>
    {% else %}
        <div>
            <h6 class="mb-0">{{ item.user_from.username}}</h6>
    {% endif %}
    {% for time in item.chat_set.all reversed %}
        <h6 class="mb-0">{{ time.user}}:{{ time.text}}</h6>
        </div>
        <small class="opacity-50 text-nowrap">{{ time.created_date }}</small>
        {{ "<!--" }}
    {% endfor %}
        {{ "-->" }}
    </div>
</a>
</div>
{% endfor %}
</div>


{% endblock content %}