{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<div style="height: 100px; position:relative; background-image:url('../media/model/sea.jpeg'); " class = "container">
<form style="position: absolute; top:50%; left: 50%;transform: translateY(-50%) translateX(-50%);" method="GET" action="">
  <input type="search" size="30" name="keyword"> 
  <button type="submit">検索</button>
</form>
</div>    
<p><a href="{% url 'home' %}"><b>ホームに戻る</b></a></p>

    <main>
      <div class = "result" style="height: 20px; width: 100%;">検索結果</div>
      <div class="album py-5 bg-light" style="margin-top:20px;">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in object %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="http://127.0.0.1:8000/medi/{{ item.post_image }}" width="300" height="200" >
                <div class="card-body">
                  <!-- <p class="card-text"><b>{{ item.title }}</b></p> -->
                  <p><a href="{% url 'detail' item.pk %}"><b>{{ item.title }}</b></a></p>
                  <div class="content" style="height:80px;">
                  <p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;" class="card-text">{{ item.content }}</p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-light" ><a href="{% url 'good' item.pk %}" style="text-decoration: none;">いいね{{ item.good }}</a></button>
                    </div>
                    <!-- <small class="text-muted">9 دقائق</small> -->
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>    
    </main>


{% endblock content %}

