{% extends 'base.html' %}

{% block content %}

<body class="text-center">
    <h1>Please sign in</h1>
    <form method="POST">
        {% csrf_token %}
        <p>ユーザーネーム</p>
        <p>{{ form.username }}</p>
        <p>メールアドレス</p>
        <p>{{ form.email }}</p>
        <p>パスワード</p>
        <p>{{ form.password1 }}</p>
        <p>パスワードの確認</p>
        <p>{{ form.password2 }}</p>
        <button type="submit">ユーザー登録</button>
    </form>
    <p style=margin:20px ><a href="{% url 'login' %}">ログインはこちら</a></p>
</body>


{% endblock content %}